.middlesection {
  width: 100%;
  // background-color: #2b2f3f;
  height: 360px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    .left {
      padding: 20px;
      height: 360px;
      flex: 3;
      background-color: #2b2f3f;
      border-radius: 10px;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        p {
          font-size: 28px;
          font-weight: 600;
          color: white;
        }

        button {
          padding: 8px 16px;
          font-size: 16px;
          border: none;
          border-radius: 50px;
          background-color: rgba(211, 211, 211, 0.206);
          color: white;
          font-weight: 500;
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .graph {
          display: flex;
          align-items: flex-end;
          p {
            font-size: 16px;
            color: lightgray;
          }

          hr {
            border-bottom: 0.2px solid rgba(211, 211, 211, 0.585);
            width: 100%;
            margin: 0 20px;
          }
        }
      }
      .graphWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
        .graph {
          display: flex;
          align-items: flex-end;
          p {
            font-size: 16px;
            color: lightgray;
          }

          hr {
            border-bottom: 0.2px solid rgba(211, 211, 211, 0.585);
            width: 100%;
            margin: 0 20px;
          }
        }

        .number {
          display: flex;
          justify-content: space-around;
          align-items: center;

          span {
            font-size: 16px;
            color: lightgray;
          }
        }
      }
    }

    .right {
      height: 360px;
      flex: 2;
      background-color: #2b2f3f;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .rightContainer {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .rightImgText {
          display: flex;
          align-items: center;
          gap: 20px;
          .rightImg1 {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: rgb(216, 57, 29);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 24px;
              height: 24px;
            }
          }
          .rightImg2 {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: rgba(57, 57, 229, 0.434);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 24px;
              height: 24px;
            }
          }
          .rightImg3 {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: darkslateblue;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 24px;
              height: 24px;
            }
          }
          p {
            font-size: 24px;
            color: lightgray;
          }
        }

        .arrow {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: rgba(211, 211, 211, 0.206);
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

          span {
            width: 24px;
            height: 24px;
            color: lightgray;
            font-weight: 700;
            // font-size: 32px;
          }
        }
      }
    }
  }
}
