@import "../../App.scss";

.sidebar {
  width: 80px;
  // height: calc(100vh - 80px);
  background-color: #2b2f3f;
  color: white;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //   align-items: center;
  //   justify-content: center;

  @include mobile {
    width: 60px;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .block {
      height: 50px;
      padding: 12px;
      border-left: 4px solid #4099f2;
    }

    #iconBlue {
      color: #4099f2;
    }

    .icon {
      width: 32px;
      height: 32px;
      cursor: pointer;
      transition: 0.2s ease-in;

      &:hover {
        scale: 1.2;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    .icon {
      width: 32px;
      height: 32px;
      cursor: pointer;
      transition: 0.2s ease-in;

      &:hover {
        scale: 1.2;
      }
    }
  }
}
