@import "../../App.scss";

.bottomsection {
  width: 100%;
  // background-color: #2b2f3f;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include tablet {
      flex-direction: column;
    }
    @include mobile {
      height: 400px;
      flex-direction: column;
      align-items: flex-start;
    }

    .left {
      height: 460px;
      flex: 3;
      background-color: #2b2f3f;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include tablet {
        width: 100%;
      }
      @include mobile {
        display: none;
      }

      h1 {
        color: lightgray;
        // margin-bottom: 30px;
      }

      .detailsContainer {
        display: flex;
        flex-direction: column;
        color: lightgray;

        .details {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 50px;
          // padding-right: 50px;

          .detailsNameImg {
            display: flex;
            align-items: center;
            // justify-content: flex-start;
            gap: 10px;

            .detailsImg {
              width: 36px;
              height: 36px;
              background-color: white;
              border-radius: 50%;

              img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            p {
              font-weight: 500;
            }
          }
        }
        hr {
          margin-top: 10px;
          border-bottom: 0.2px solid rgba(173, 172, 172, 0);
        }
      }
    }
    .right {
      height: 460px;
      flex: 2;
      background-color: #2b2f3f;
      border-radius: 10px;
      padding: 20px;
      overflow-y: scroll;

      @include tablet {
        width: 100%;
      }
      @include mobile {
        width: 100%;
      }

      .rightWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
          color: lightgray;

          @include mobile {
            font-size: 18px;
          }
        }

        .rightContainer {
          display: flex;
          flex-direction: column;
          gap: 6px;

          .rightImgtext {
            display: flex;
            align-items: center;
            gap: 10px;
            .imgText {
              width: 32px;
              height: 32px;
              border-radius: 50%;

              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
              }
            }
            p {
              color: lightgray;
              font-size: 16px;
              font-weight: 500;
            }
          }

          .ratings {
            color: yellow;
          }

          .desc {
            color: rgb(195, 189, 189);
            font-weight: 300;
          }
        }
        hr {
          margin-top: 10px;
          border-bottom: 0.1px solid rgba(173, 172, 172, 0);
        }
      }
    }
  }
}
