* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  color: black;
  /* background-color: #2b2f3f; */
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  display: flex;
  background-color: black;
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* Width of the scrollbar */
}

/* The scrollbar track */
::-webkit-scrollbar-track {
  // background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px; /* Optional: adds rounded corners to the track */
}

/* The scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background: white; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: adds rounded corners to the thumb */
}

/* The scrollbar handle (thumb) when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}
